<div class="header-control-bar">
  <% if current_page?(root_url) %>
    <%= link_to "forum", class: "btn btn-primary forum" %>
    <%= link_to "email", class: "btn btn-primary email" %>
    <%= link_to "users", rails_admin.index_path('User'), class: "btn btn-primary users" %>
    <%= link_to "forms", rails_admin.index_path('SwimForm'), class: "btn btn-primary forms" %>
  <% end %>
</div>
