<div class="header-control-bar">
  <% if current_page?(root_url) %>
    <button type="button" class="btn btn-primary">
      <%= link_to "forms" %>
    </button>
    <button type="button" class="btn btn-primary">
      <%= link_to "forum" %>
    </button>
    <button type="button" class="btn btn-primary">
      <%= link_to "terminology" %>
    </button>
    <button type="button" class="btn btn-primary">
      <%= link_to "payment" %>
    </button>
  <% end %>
</div>
