<div class="view-container">
  <p><em>Age Group</em>: Division of swimmers according to age, usually in two-year bands.</p>
  <p><em>Anchor</em>: The final swimmer in a relay.</p>
  <p><em>Backstroke</em>: One of the 4 competitive racing strokes, basically any style of swimming on your back.  Backstroke is swum as the first stroke in the Medley Relay and second stroke in the IM.</p>
  <p><em>Blocks</em>: The starting platforms located behind each lane.  Blocks have a variety of designs and can be permanent or removable, but also incorporate a bar to allow swimmers to perform backstroke starts.</p>
  <p><em>Breaststroke</em>: One of the 4 competitive racing strokes.  Breaststroke is swim as the second stroke in the Medley Relay and the third stroke in the IM.</p>
  <p><em>Butterfly</em>: One of the 4 competitive racing strokes.  Butterfly (nicknamed FLY) is swum as the third stroke in the Medley Relay and first stroke in the IM.</p>
  <p><em>Cap</em>: The silicone or latex covering worn on the head of swimmers.</p>
  <p><em>Cards</em>: Entry cards either handed to the swimmer or relay team by the coaches or meet runners and given to the timer behind the lane.</p>
  <p><em>Clerk of Course</em>: Seeds swimmers into events and provides cards or info to deck officials.</p>
  <p><em>Consolation</em>: The second fastest heat of finals when multiple heats are held and are conducted before the Championship heat.</p>
  <p><em>Course</em>: Designated distance for swimming competition.  Can be long course (50 meters) or short course (25 yards).</p>
  <p><em>Deck</em>: The area around the swimming pool reserved for swimmers, officials, and coaches.  Only authorized persons may be on the competition deck during the meet.</p>
  <p><em>Development</em>: A classification of meet or competition.  The purpose of a developmental meet is to allow all levels of swimmers to compete in a lower pressure environment.</p>
  <p><em>Disqualified(DQ)</em>: A swimmers performance is not counted and the time swam is void because of a rules infraction.</p>
  <p><em>Dropped Time</em>: When a swimmer goes faster than the previous performance they have "dropped time."</p>
  <p><em>Entry Limit</em>: Each meet will usually have a limit of total swimmers they can accept before the meet will be closed and all other entries are denied or returned.</p>
  <p><em>Entry</em>: An individual or relay declares their intention to swim.</p>
  <p><em>Event</em>: A race or stroke over a given distance.</p>
  <p><em>False Start</em>: Occurs when a swimmer leaves the starting block, or is moving on the block, before the starter starts the race or before a relay leg has touched the wall.</p>
  <p><em>Final Results</em>: The printed or electronic copy of the results of each race of a swim meet.</p>
  <p><em>Finals</em>: The championship final of an event in which the fastest eight swimmers from the heats or semi-finals compete.</p>
  <p><em>Flags</em>: Pennants that are suspended over the width of each end of the pool approximately 5 meters from the wall to allow backstroke swimmers to determine where the end of the pool is.</p>
  <p><em>Freestyle</em>: One of the 4 competitive racing strokes.  Freestyle (or free) is swum as the fourth stroke in the Medley Relay and fourth stroke in the IM.  There are no rules governing the form of this stroke.</p>
  <p><em>Goggles</em>: Eyewear worn by swimmers in the pool to protect the swimmers eyes from the effects of chlorine, the rays of the sun, and to improve underwater vision.</p>
  <p><em>Gutter</em>: The area at the edges of the pool in which water overflows and is recirculated into the pool.</p>
  <p><em>Heats</em>: A division of an event when there are too many swimmers to compete at the same time.  The results are compiled by swimmers time swum, after all heats of the event are completed.</p>
  <p><em>Individual Medley(IM)</em>: All four competitive strokes in the order of Butterfly, Backstroke, Breaststroke, and Freestyle.</p>
  <p><em>Lane</em>: The specific area in which a swimmer is assigned to swim.  Lanes should be numbered from right (Lane 1) to left (Lane 8).</p>
  <p><em>Lap Counter</em>: The large numbered cards (or the person turning the cards) used during the freestyle events 500 yards or longer.</p>
  <p><em>Lap</em>: One length of the course.</p>
  <p><em>Leg</em>: The part of a relay event swum by a single team member.</p>
  <p><em>Length</em>: Technically, a length is once across the pool; a lap is across and back.  However most coaches use the terms interchangeably to mean simply once across the pool.</p>
  <p><em>Long Course(LCM)</em>: A 50 meter course.  The Olympic Games as well as all major international competitions are conducted long course.</p>
  <p><em>Marks</em>: The command to take your starting position.</p>
  <p><em>Marshall</em>: The adults or officials who controls the crowd and swimmer flow at a swim meet.</p>
  <p><em>Medals</em>: Awards given to the swimmers at the meets.  They vary in size and design and method of presentation depending on the competition and the host team.</p>
  <p><em>Meet Director</em>: The person in charge of the administration of the meet.</p>
  <p><em>Meet</em>: A series of events held in one program.</p>
  <p><em>Mile</em>: The slang referring to the 1500 meter or 1650 yard freestyle, both of which are slightly short of a mile.</p>
  <p><em>NT</em>: No time.  The abbreviation used on a heat sheet to designated that the swimmer has not swum that event before.</p>
  <p><em>Negative Split</em>: The second half of the swim is swam faster than the first half.</p>
  <p><em>Official Time</em>: The swimmers event time recorded to one hundredth of a second (.01)</p>
  <p><em>Personal Record(PR)</em>: The best time a swimmer has done so far in a particular stroke/event.</p>
  <p><em>Prelim</em>: Short for preliminary.  Those races in which swimmers qualify for the championship and consolation finals.</p>
  <p><em>Qualifying</em>: Published times necessary to enter certain meets, or the times necessary to achieve a specific ranking.</p>
  <p><em>Race</em>: Any single swimming competition. Preliminary, final or timed final.</p>
  <p><em>Referee</em>: The head official at a swim meet.</p>
  <p><em>Relay Exchange</em>: The exchange between the swimmer in the water and the next swimmer on the relay.</p>
  <p><em>Scratch</em>: To withdraw from an event after having declared an intention to participate.</p>
  <p><em>Seed</em>: Assign the swimmers heats and lanes according to their submitted times.</p>
  <p><em>Short Course</em>: A 25 yard(SCY) or 25 meter(SCM) course.</p>
  <p><em>Split</em>: A portion of an even, shorter than the total distance, that is timed.  Example</em>: A swimmers first 25 or 50 time is taken as the swimmer swims the 100 race.  It is common to take multiple splits for the longer distances.</p>
  <p><em>Starter</em>: The official in charge of signaling the beginning of a race and insuring that all swimmers have a fair take-off.</p>
  <p><em>Stroke Judge</em>: The official positioned at the side of the pool, walking the length of the course as the swimmers race.  The stroke judge is required to determine that each swimmer is carrying out his or her stroke within the rules, and will disqualify any who aren't.</p>
  <p><em>Submitted Time</em>: Time used to enter swimmers into meets.  These times must have been achieved by the swimmer at previously sanctioned meets.</p>
  <p><em>Swim Off</em>: In a heat/finals competition, a race after the scheduled event to break a tie.  The only circumstances that warrants a Swim-off is to determine which swimmer makes finals.</p>
  <p><em>Time Trial</em>: An event or series of events where a swimmer may achieve or better a required qualifying time.</p>
  <p><em>Timer</em>: The volunteers sitting behind the starting blocks/finish end of the pool, who are responsible for getting watch times on events and activating the backup buttons for the timing system.</p>
  <p><em>Touch Pad</em>: The removable plate (on the end of the pools) that is connected to an automatic timing system.  A swimmer must properly touch the touchpad to register an official time in a race.</p>
  <p><em>Touch</em>: The finish of a race.</p>
  <p><em>Unofficial Time</em>: The time displayed on a read out board or read over the intercom by the announcer immediately after the race.  After the time has been checked, it will become the official time.</p>
  <p><em>Warm Down</em>: The loosening a swimmer does after a race when pool space is available. Used by the swimmer to rid the body of excess lactic acid generated during a race.</p>
  <p><em>Warm-up</em>: The practice and loosening session a swimmer does before the meet or their event.  Essential to avoid injury, loosen muscles and prepare the body to go fast.</p>
</div>
