<div class="container-fluid">
  <div class="row">
    <div class="clearfix visible-md-block visible-lg-block">
      <div class="container col-md-3 col-lg-3">
        <%= render "calendar" %>
      </div>
      <div class="container col-md-9 col-lg-9">
        <%= render "content" %>
      </div>
    </div>
    <div class="clearfix visible-xs-block visible-sm-block">
      <div class="container col-xs-12 col-sm-12">
        <%= render "content" %>
      </div>
    </div>
  </div>
</div>
