@import "bootstrap-sprockets";
@import "bootstrap";

$light-blue: #C4EAFF;
$medium-blue: #2CA8DD;
$dark-blue: #000566;
$white: #FFFFFF;
$dark-green: #8c8b8b;
$light-green: #39B348;

body{
  color: $dark-blue;
  background-color: $light-blue;
}

h1{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px $white;
}

hr.shadow{
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px $dark-green inset;
}

.view-container{
  padding-left: 2em;
}

.logo{
  text-align: center;
}

.sign-in{
  padding-top: 2em;
  text-align: center;
}

.header-control-bar{
  color: $white;
  background-color: inherit;
  padding-left: 2em;
  text-align: left;
}

.btn{
  background-color: $light-green;
  text-transform: capitalize;

  a,
  a.visited{
    color: $white;
    background-color: $light-green;
    text-decoration: none;
  }

  input{
    background-color: inherit;
    border: 0;
  }
}

.btn:hover{
  background-color: $medium-blue;
}
