@import "welcome";
@import "bootstrap-sprockets";
@import "bootstrap";

/*
colors for site
dark blue = #000566
medium blue = #5FBDF5
light blue = #C4EAFF
green = #39B348
white = #FFF
*/

body{
  color: #000566;
  background-color: #C4EAFF;
}

h1{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #FFF;
}
hr.shadow{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


.header{
  width: 100%;
  text-align: center;

  .header-swim{
    width: 20%;
    float: left;
  }

  .header-gasc{
    width: 60%;
    display: inline;
    justify-content: center;
  }

  .header-login{
    width: 20%;
    float: right;
  }
}

.header-control-bar{
  color: #FFF;
  background-color: inherit;
  text-align: left;

  .btn{
    background-color: #39B348;

    a,
    a.visited{
      color: #FFF;
      text-decoration: none;
    }
  }
}
