body{
  color: #000566;
  background-color: #C4EAFF;
}

.header-nav{
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgb(58,23,63);
}
